<section id="why" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kā tas strādā?</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="icon-ghost text-primary"></i>
                    <h3>Informācijas agregācija</h3>
                    <p class="text-muted">Jau vairāku nekā 2 gadu garumā Brokalys roboti ir ievākuši un saglabājuši informāciju ar nekustamo īpašumu piedāvājumiem.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="icon-layers text-primary"></i>
                    <h3>Datu analīze</h3>
                    <p class="text-muted">Lielajam datu daudzumam cauri iet jau pavisam citi roboti, kas šos datus strukturē, analizē un meklē likumsakarības.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="icon-magic-wand text-primary"></i>
                    <h3>Analīžu ģenerēšana</h3>
                    <p class="text-muted">Iegūtā informācija tiek atspoguļota vizuālā, lietotājam viegli uztveramā formātā, ar kuru Jūs varat pieņemt objektīvus biznesa lēmumus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
