<header>
    <div class="container">

        <div class="header-content">
            <div class="header-content-inner text-center">
                <h1 style="margin-bottom:0">Digitālais palīgs brokerim</h1>
                <h2 style="margin-top:15px;margin-bottom:30px;font-size:27px">Pirmais real-time nekustamā īpašuma brokeru rīks Latvijā</h2>
                <a href="{{ site.mailchimp_link }}" target="_blank" onclick="_gaq.push(['_trackEvent', 'sign-up', 'top']);" class="btn btn-outline btn-xl page-scroll">Iegūsti brokalys.com pieeju</a>
            </div>
        </div>

    </div>
</header>
