<header>
    <div class="container">

        <div class="header-content">
            <div class="header-content-inner text-center">
                <h1 style="margin-bottom:0">Digitālais palīgs brokerim</h1>
                <h2 style="margin-top:15px;margin-bottom:30px;font-size:27px">Pirmais real-time nekustamā īpašuma brokeru rīks Latvijā</h2>

                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf_cds5tZL5NgX7RrM8pJUfubV5Zv7wwQxzCY0ivoSF5TeU3Q/viewform" onclick="_gaq.push(['_trackEvent', 'sign-up-pinger', 'top']);" class="btn btn-outline btn-xl page-scroll">Saņemt nekustamā īpašuma paziņojumus e-pastā</a>
                <span style="padding:10px;display:inline-block">vai</span>
                <a href="{{ site.map_link }}" onclick="_gaq.push(['_trackEvent', 'open-map', 'top']);" class="btn btn-outline btn-xl page-scroll">Atvērt nek.īp. statistikas karti</a>
            </div>
        </div>

    </div>
</header>
