<header class="buy">
    <div class="container">

        <div class="header-content">
            <div class="header-content-inner text-center">
                <h1 style="margin-bottom:0">Visas vietas ir aizņemtas</h1>
                <h2 style="margin-top:0;margin-bottom:30px">Diemžēl, visas alpha pieejas vietas pašlaik ir aizņemtas.<br />Vai vēlies iestāties rindā, lai būtu nākamais, kas iegūst pieeju Brokalys nekustamā ipašuma tirgus analīzes rīkam?</h2>
                <a href="{{ site.mailchimp_link }}" target="_blank" class="btn btn-outline btn-xl">Iestāties pieejas rindā</a>
            </div>
        </div>

    </div>

    <div class="overlay"></div>
</header>
