<section id="why" class="features" style="padding:0">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="feature-item">
                    <i class="icon-graph text-primary"></i>
                    <p class="text-muted">Konkrētu reģionu cenu, īpašumu skaita un citas tendencies ilgtermiņā.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-item">
                    <i class="icon-layers text-primary"></i>
                    <p class="text-muted">Dažādu portālu datu tīrīšana un strukturēšana.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-item">
                    <i class="icon-pie-chart text-primary"></i>
                    <p class="text-muted">Īpašumu tipu salīdzinājums, cenu dinamikas analīze.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-item">
                    <i class="icon-magic-wand text-primary"></i>
                    <p class="text-muted">API un webhook datu analīzei vai integrešanai Jūsu biznesa projektos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
