<section id="quote" class="download bg-primary text-center">
    <div class="container">
        <h2 class="section-heading">Brokeru darba efektivizācijas un digitalizācijas rīks</h2>

        <div class="row">
            <div class="col-md-4">
                <img src="img/preview.png" alt="Preview" class="img-responsive">
            </div>

            <div class="col-md-8 text-left">
                <p>35+ lielo un reģionālo sludinājuma portāliem pārskats vienkopus - Ietaupa līdz pat 65% sudinājumu portālos pavadītā laka.</p>
                <p>Automātiski e-pasta paziņojumi par jaunu, Jums interesējošu, sludinājumu ievietošanu - neveltot laiku meklēšanai, uzrunājiet tiešu Jums interesējošošos klientu.</p>
                <p>Tiešo e-pastu sagatavošana - automatizēta potenciālo klientu uzrunāšana ļauj veltīt laku tikai ieinteresētiem klientiem.</p>
                <p>Tirgus blīvuma un cenas heat-map - Ekspertīze par tirgus aktivitāti dažādos reģionos ļauj profesionālāk konsultētu Jūsu klientus.</p>
            </div>
        </div>
    </div>
</section>
