<section id="quote" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Pilna profila tirgus analīze</h2>
                <p>Brokalys ir ievācis pēdējo 2 gadu laikā informāciju par vairāk nekā 150`000 īpašumiem. Šie dati tiek grupēti Latvijas reģionos (novados, pilsētās, mikrorajonos) un tiek attēloti lietotājam viegli saprotamā un analizējamā veidā. Tas palīdz pieņemt racionālus, uz datiem balstītus lēmumus par konkrētā brīža nekustamā īpašuma vērtību un tendencēm tirgū.</p>
                <ul class="list-unstyled">
                    <li style="padding-bottom:10px">Salīdzina īpašumu ar citiem konkrētā brīža piedāvājumiem
                    <li style="padding-bottom:10px">Atrod līdzīgus piedāvājumus tirgū
                    <li style="padding-bottom:10px">Veido šī brīža novadu, pilsētu, mikrorajonu tirgus analīzes
                    <li style="padding-bottom:10px">Tirgus blīvuma un cenas heat-map
                </ul>
            </div>
        </div>
    </div>
</section>
