<section id="quote" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Ietaupi laiku un naudu</h2>
                <p>Izmantojot vairāku gadu garumā ievāktos datus par privātīpašuma stāvokli Latvijā, Brokalys izanalizē privātīpašumu un dod lietotājam viegli saprotamu analīzi, kas palīdz saprast privātīpašuma vērtību.</p>
            </div>
        </div>
    </div>
</section>
